@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

body {
    margin: 0;
}

/* header part  */
header {
    display: flex;
    /* width: 100%; */
    margin: 50px 140px;
    background-color: #161616;
    border-radius: 30px;
    color: #ffffff;
    padding-top: 20px;

}

.half {
    width: 50%;
}

.header-part {

    text-align: left;
    padding-top: 111px;
    padding-bottom: 111px;
    padding-left: 106px;
}

.header-bannar {
    align-self: flex-end;
}

.header-bannar img {
    width: 581px;
    height: 613px;
}

.header-title {
    font-size: 70px;
    font-weight: 700;
}

.header-des {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 46px;
}

.links {
    text-decoration: none;
    padding: 10px 25px;
    background-color: #DD0000;
    color: #ffffff;
    border-radius: 5px;
}

/* header animation part  */
@keyframes head-anim {
    0% {


        transform: translate(0px, 0px);
    }

    50% {


        transform: translate(2px, 0px);

    }

    80% {


        transform: translate(4px, 0px);
    }


    100% {


        transform: translate(10px, 0px);

    }
}

header .links>i {
    animation: head-anim 1s ease-in-out 1s infinite normal;
}

/* main container  */
.main-container {
    display: flex;
    margin: 130px 140px;
    justify-content: center;

}

/* options */
.options {
    width: 312px;
    height: 312px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 0px 24px;


}

.button {
    padding: 17px 39px;

    background-color: white;
    margin: 15px 30px;
    border-radius: 10px;
    text-align: center;
}

.button a {
    text-decoration: none;
    color: black;
}

.checked-button {
    background-color: #DD0000;

}

.checked-button a {
    color: white;
}

/* content-box */

.content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.content-btn {
    font-size: 16px;
    font-weight: 500;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
}

.content-des h3 {
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}

.time-rate {
    color: #161616;
    opacity: 70%;
}

.time-rate span {
    padding-right: 30px;
}

.img-parts {
    width: 252px;
    height: 56.18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}


.img-parts>div>img {
    width: 93.04px;
    height: 54.42px;
}

.vs {
    width: 20px;
    margin: 0 auto;
}

.match-des {
    text-align: center;
}

.contents {
    padding: 53px 30px;
    border: 1px solid #E8E8E8;
}

.match-des h4 {
    font-size: 20px;
}

.match-des p {
    color: #4D4D4D;
}


/* footer 
 */
footer {
    background-color: #161616;
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 130px;
}

.goal {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

footer hr {
    opacity: 10%;
    width: 1320px;

}



.footer-links a,
.social-media a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    padding: 0px 20px;
    font-weight: 500;
}

.social-media,
.footer-links {

    padding-bottom: 30px;
}

/* responsive making */
@media only screen and (max-width:688px) {


    header {

        flex-direction: column;
        margin: 40px 20px;
        align-items: center;


    }

    .half {
        width: 70%;
    }

    .header-part {
        padding: 28px 53px;
        text-align: center;



    }

    .header-bannar {
        align-self: center;
    }

    .header-title {
        font-size: 22px;
        text-align: center;
    }

    .header-des {
        font-size: 14px;
        width: 258px;
        height: 40px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }


    .header-bannar img {
        width: 233px;
        height: 245px;
    }

    .main-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 0;

    }

    .options {
        background-color: white;
    }

    .options .button {
        border: 1px solid rgba(128, 128, 128, 0.52);

    }

    .content-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-box .content {
        border: 1px solid rgba(128, 128, 128, 0.319);
        border-radius: 10px;
        padding: 10px;
    }

    .footer-links a {
        display: block;
        padding-top: 10px;
    }


}